:root {
    /* primary colors / default / misc */
    --accent-color: #1E90FF;
    --accent-color-light: #6EB8FF;
    --accent-color-extra-light: #E0F2FF;
    --default-color: #F1F1F1;

    /* backgrounds */
    --background-primary: #121212;
    --background-secondary: rgba(31, 31, 31, 0.8);
    --background-tertiary: #2B2B2B;
    --card-bg-primary: #1F1F1F;


    /* fonts */
    --font-primary: #F1F1F1;
    --font-secondary: #B3B3B3;
    --font-secondary-light: rgba(179, 179, 179, 0.5);
    --font-headers: '';

    /* buttons */
    --button-bg: var(--accent-color-extra-light);
    --button-primary-text: #121212;
    --button-secondary-text: #1E90FF;
    --button-hover-bg: #1A76C2;
    --button-hover-bg-secondary: #3A3A3A;
    --button-hover-text: #F1F1F1;
    --button-padding: 0.75rem 1.5rem;

    /* borders */
    --border-radius: 0.375rem;
    --border-color: #2B2B2B;

    /* icons */
    --icon-color: var(--default-color); 

    /* warning/success */
    --warning-color: #FF073A;
    --success-color: #37D067;
    
    /* box-shadow */
    --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

    /*backdrop filter*/
    --backdrop-filter: blur(1rem);

    /* gaps */
    --content-gap: 1.75rem;
    --content-gap-small: 0.75rem;
    --content-gap-large: 4rem;

    /* padding */
    --layout-padding: 0 5rem;
    --layout-padding-mobile: 0 2rem;
    --card-padding: 2rem;
    --card-padding-small: 1rem;

    /* inputs */
    --input-bg:	'';
    --input-text: '';
    --input-padding: 1rem;
    --input-focus-transition: 0.2s ease-in-out;
    
    /* hover */
    --hover-transition: 0.3s ease-in-out;

}