:root {
    /* primary colors / default / misc */
    --accent-color: #0E6FFF;
    --accent-color-light: #80BFFF;
    --accent-color-extra-light: #F2F8FF;
    --default-color: #040303;


    /* backgrounds */
    --background-primary: #FAFAFB; 
    --background-secondary:	#FFFFFF;
    --background-tertiary: '';
    --card-bg-primary:	#FFFFFF;

    /* fonts */
    --font-primary:	#040303;
    --font-secondary: #4A4A4A;
    --font-secondary-light: rgba(74, 74, 74, 0.5);
    --font-headers:	'';

    /* buttons */
    --button-primary-text:'';
    --button-secondary-text:'';
    --button-hover-bg: '';
    --button-hover-bg-secondary: '';
    --button-padding: '';

    /* borders */
    --border-radius: 0.375rem;
    --border-color: '';

    /* warning/success */
    --warning-color: #DA2C38;
    --success-color: #226F54;

    /* box-shadow */
    --box-shadow:0 2px 4px rgba(0, 0, 0, 0.1);

    /* gaps */
    --content-gap: 1.75rem;
    --content-gap-small: 0.75rem;

    /* padding */
    --layout-padding: 0 5rem;
    --layout-padding-mobile: 0 2rem;
    --card-padding: 2rem;
    --card-padding-small: 1rem;

    /* inputs */
    --input-bg:	'';
    --input-text: '';
    --input-padding: '';
    --input-focus-transition: 0.2s ease-in-out;
    
    /* hover */
    --hover-transition: 0.3s ease-in-out;
}