.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--layout-padding);
    height: 7.5rem; 
    /* background-color: var(--background-primary); */
    border-radius: var(--border-radius);

    background-color: var(--background-tertiary);
    backdrop-filter: var(--backdrop-filter); 
    -webkit-backdrop-filter: var(--backdrop-filter); 
    box-shadow: var(--box-shadow);
}

/* Mobile Devices (landscape) */
@media (max-width: 775px) { 
    .header {
        padding: var(--layout-padding-mobile);
    }
}