.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--layout-padding);
    height: 7.5rem; 
    background-color: var(--background-primary);
    border-radius: var(--border-radius);
    border-bottom: 0.05rem solid var( --default-color);
}

.log_out_btn{
    font-weight: bold;
    color: var(--button-primary-text);
    background-color: var(--button-bg);
    padding: var(--button-padding);
    transition: var(--hover-transition);
}

.log_out_btn:hover{
    color: var(--button-hover-text);
    background-color: var(--button-hover-bg);
}

/* Mobile Devices (landscape) */
@media (max-width: 775px) { 
    .header {
        padding: var(--layout-padding-mobile);
    }
}