.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--layout-padding);
    height: 7.5rem; 
    background-color: var(--background-primary);
}

.header_buttons_container{
    display: flex;
    gap: var(--content-gap);
    align-items: center;
    justify-content: center;
}

/* Mobile Devices (landscape) */
@media (max-width: 775px) { 
    .header {
        padding: var(--layout-padding-mobile);
    }
}