.company_card{
    display: flex;
    flex-direction: column;
    gap: var(--content-gap);
    padding: var(--card-padding);
    border-radius: var(--border-radius);
    background-color: var(--background-tertiary);
    position: relative;
    flex: 0 0 40%; /* necessary for carousel */
    min-width: 0; /* necessary for carousel */
    backdrop-filter: var(--backdrop-filter); 
    -webkit-backdrop-filter: var(--backdrop-filter); 
    box-shadow: var(--box-shadow);
}

.icon_delete {
    cursor: pointer;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    opacity: 0; 
    color: var(--warning-color);
    background-color: var(--background-tertiary);
    z-index: 2;
    transition: opacity var(--hover-transition); 
}

/* Make the icon visible with a smooth transition on hover */
.company_card:hover .icon_delete {
    opacity: 1; 
}

.contact, .location_details, .industry {
    font-size: clamp(0.75rem, 0.5rem + 1vw, 1.45rem);
}

.date_added, .notes{
    font-size: clamp(0.75rem, 0.5rem + 0.75vw, 1.25rem);
    transition: padding-right var(--hover-transition);
}

.name, .added_text {
    color: var(--font-primary);
    font-weight: 600; 
}

.card_top_flex_container{
    flex: 1;
}

.card_footer{
    display: flex;
    flex-direction: column;
    gap: var(--content-gap-small);
    flex: 1;
}

.card_footer_flex_row_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.icons_container {
    display: flex;
    gap: var(--content-gap-small);
}

.icon_contact {
    color: var(--icon-color);
    cursor: pointer;
    transition: var(--hover-transition);
}

.icon_contact:hover {
    color: var(--accent-color);
}

.notes_container{
    display: flex;
    align-items: center;
}

.notes{
    flex: 1;
}

.read_more_btn {
    flex: 0;
}

/* Mobile Devices (landscape) */
@media (max-width: 950px) { 
    .card_footer{
        display: flex;
        flex-direction: column; 
        align-items: flex-start;
        gap: var(--content-gap-small);
    }

    .icon_contact, 
    .icon_delete {
        width: 1.5rem;
        height: 1.5rem;
    }
}

/* Mobile Devices (landscape) */
@media (max-width: 775px) { 
    .company_card {
        flex: 0 0 80%; /* necessary for carousel */
        gap: var(--content-gap-small);
        padding: var(--card-padding-small);
    }
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
    .company_card {
        flex: 0 0 80%; /* necessary for carousel */
    }
}




