.dashboard_container_card {
    display: flex;
    flex-direction: column;
    gap: var(--content-gap);
    width: 95%;
    border-radius: var(--border-radius);
    padding: var(--card-padding);
    background: var(--background-secondary);
    backdrop-filter: var(--backdrop-filter); 
    -webkit-backdrop-filter: var(--backdrop-filter); 
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    border: 0.1rem solid rgba(255, 255, 255, 0.1);
}

.header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_container p {
    font-size: clamp(0.8rem, 1rem + 1vw, 1.25rem);
}

.children_grid_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--content-gap);
}

/* Tablets (landscape) / Small Laptops) */
@media (max-width: 1200px) { 
    .dashboard_container_card {
        width: 100%;
    }
}

/* Tablets (portrait) */
@media (max-width: 950px) { 
    .header_container p {
        display: none;
    }
}

/* Mobile Devices (landscape) */
@media (max-width: 775px) { 
    .header_container{
        flex-direction: column;
        gap: var(--content-gap);
        align-items: flex-start;
    }
    .children_grid_container {
        grid-template-columns: repeat(1, 1fr);
    }
}




