.dashboard_home{
    display: flex;
    flex-direction: column;
    gap: var(--content-gap);
}

.dashboard_home_flex_wrapper{
    display: flex;
    flex-direction: row;
    gap: var(--content-gap);
}